# macOS
.DS_Store

# JetBrains IDE
.idea/

# Python
__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/
.venv/

# Allure test artifacts
allure-results/
allure-report/
allure_results/
report/temp/

# Logs
logs/
*.log
